body {
  margin:0px;
  background-color:rgba(228, 228, 228, 1);
  background-image:none;
  position:static;
  left:auto;
  width:430px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:110px;
  top:12px;
  width:320px;
  height:568px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u1 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:110px;
  top:549px;
  width:320px;
  height:40px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:122px;
  top:554px;
}
#u4_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u4_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u6 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:7px;
  top:11px;
  width:27px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:110px;
  top:130px;
  width:320px;
  height:10px;
}
#u9_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u10 {
  position:absolute;
  left:290px;
  top:554px;
  width:40px;
  height:30px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:290px;
  top:554px;
  width:40px;
  height:30px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:297px;
  top:565px;
  width:27px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:379px;
  top:554px;
  width:40px;
  height:30px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u17 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:386px;
  top:565px;
  width:27px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:129px;
  top:90px;
}
#u20_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u20_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u22 {
  position:absolute;
  left:2px;
  top:10px;
  width:30px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:44px;
  top:2px;
  width:37px;
  height:15px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:44px;
  top:20px;
  width:49px;
  height:15px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:129px;
  top:30px;
}
#u27_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u27_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u29 {
  position:absolute;
  left:2px;
  top:10px;
  width:30px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:375px;
  top:30px;
  width:34px;
  height:34px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u31 {
  position:absolute;
  left:2px;
  top:10px;
  width:30px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:340px;
  top:100px;
  width:79px;
  height:15px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:15px;
}
#u33 {
  position:absolute;
  left:2px;
  top:1px;
  width:75px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:129px;
  top:145px;
  width:154px;
  height:37px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:37px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:129px;
  top:191px;
  width:283px;
  height:357px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:357px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:202px;
  top:554px;
  width:40px;
  height:30px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u38_img.selected {
}
#u38.selected {
}
#u39 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:202px;
  top:554px;
  width:40px;
  height:30px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:30px;
}
#u40_img.selected {
}
#u40.selected {
}
#u41 {
  position:absolute;
  left:2px;
  top:7px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:209px;
  top:564px;
  width:27px;
  height:13px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:13px;
}
#u42_img.selected {
}
#u42.selected {
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
