body {
  margin:0px;
  background-color:rgba(214, 214, 214, 1);
  background-image:none;
  position:static;
  left:auto;
  width:430px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:110px;
  top:12px;
  width:320px;
  height:568px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:568px;
}
#u1 {
  position:absolute;
  left:2px;
  top:276px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:110px;
  top:549px;
  width:320px;
  height:40px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:40px;
}
#u3 {
  position:absolute;
  left:2px;
  top:12px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:128px;
  top:12px;
  width:283px;
  height:210px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:210px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:110px;
  top:12px;
  width:320px;
  height:128px;
  opacity:0.6;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:128px;
}
#u7 {
  position:absolute;
  left:2px;
  top:56px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:110px;
  top:310px;
  width:320px;
  height:279px;
  font-size:14px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:279px;
}
#u9 {
  position:absolute;
  left:2px;
  top:132px;
  width:316px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:110px;
  top:140px;
  width:320px;
  height:170px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:170px;
}
#u11 {
  position:absolute;
  left:2px;
  top:77px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:128px;
  top:160px;
  width:283px;
  height:100px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:100px;
}
#u13 {
  position:absolute;
  left:2px;
  top:42px;
  width:279px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:311px;
  top:274px;
  width:100px;
  height:26px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
}
#u15 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:138px;
  top:170px;
  width:10px;
  height:20px;
}
#u16_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u16_end {
  position:absolute;
  left:-5px;
  top:3px;
  width:20px;
  height:18px;
}
#u16_line {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  height:20px;
}
#u17 {
  position:absolute;
  left:128px;
  top:275px;
  width:26px;
  height:26px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u18 {
  position:absolute;
  left:2px;
  top:0px;
  width:22px;
  word-wrap:break-word;
}
